<% const d = new Date()
let year = d.getFullYear() %>
<footer id="pageFooter">
  <p class="copyright">Cristian j. Orrego & copy ; <%= year %>, CSE 340 App</p>
  <p>
        Having trouble? <a href="/error" title="Click to trigger an intentional error">Click here to generate an error!</a>
    </p>
</footer>
